
<div class="header">

  <div  class="HeadUpper">
    <h1><em>l'm looking for...</em></h1>

    <input placeholder="Enter a Job Description" id="inputSearch"> 
    <button id="buttonSearch"> <i class="fas fa-search" ></i> Search</button>
    
    <div>
      <input type="checkbox" name="checkbox1">
              <label for="checkbox1" id="checkbox"> Full Time</label>
     
              <input type="checkbox"  name="checkbox2">
              <label for="checkbox2" id="checkbox"> Part Time/Casual/Freelance</label>
      <select id="SelectOption">
        <option [disabled]="true">Select your Location</option>
        <option>Mumbai</option>
        <option>Pune</option>
        <option>Nagpur</option>
      </select>
    </div>
    <button id="Register" (click)="Registerbutton()" >Register</button>
    
</div>

</div>


<!-- ------------------------------------------------------------------------------------------------------ -->

<div class="middle">

  
    <h3><em>We're leaders in</em></h3>
    <h2>Creative Digital Recruitment</h2>
    <div id="line"></div>
    <p>Based in Surry Hills, the Creative hub of Sydney we are surrounded by creativity<br>
      and reflect on the type of jobs we recruit for. </p><br>
   <div id="infobutton"><button >FIND OUT MORE ABOUT US!</button></div> 
  
</div>


<!--------------------------------------------------------------------------------------------------------------- -- -->


<div class="footer">
<div class="footerup">
  <p>Subscribe to our Job seeking Mailing List</p>

<div>
  <input type="text"  placeholder="Enter Your Email Address" >
  <i class="fa fa-envelope"></i>
</div>
</div>
</div>



