<div class="FullPage">

  <nav class="navbar">
    <div class="logo">
      <a routerLink="/">Demo App</a>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home"  routerLinkActive='active-link'>Home</a></li>
      <li><a routerLink="/#" routerLinkActive='active-link'>ABOUT US</a></li>
      <li><a routerLink="/#" routerLinkActive='active-link'>JOBS</a></li>
      <li><a routerLink="/#" routerLinkActive='active-link'>CLIENTS</a></li>
      <li><a routerLink="/#" routerLinkActive='active-link'>EMPLOYERS</a></li>
      <li><a routerLink="/#" routerLinkActive='active-link'>CONTACT US</a></li>
    </ul>
  </nav>


 

<router-outlet></router-outlet>

</div>