<div class="Head">

  <nav class="navbar">
    <div class="logo">
      <a routerLink="/">Register</a>
    </div>
    <ul class="nav-links">
      <li (click)="removeButton()">X</li>

    </ul>
  </nav>


  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->
  <form [formGroup]="RegistrationForm" (ngSubmit)="Submit()">

    <div class="showform">
      <div class="showformImage">
        <img *ngIf="selectedImage" [src]="selectedImage" alt="selected Image">
        <div class="pogo1">

          <input type="file" class="ImageInput" placeholder="Upload Image" formControlName="image"
            (change)="onFileSelected($event)">
          <span style="color: red;" *ngIf="image && image.invalid && image.touched">Image dimensions must be 310x320
            pixels.</span>
        </div>
      </div>



      <div class="showDataform">

        <input type="text" class="fname" placeholder="First Name" formControlName="fname">
        <input type="text" class="lname" placeholder="Last Name" formControlName="lname">
        <div class="nameError">
          <div>
            <span style="color: red;" *ngIf="fname && fname.invalid && fname.touched" id="fnerror">
              <ng-container *ngIf="fname.hasError('required')">this field are req(*)</ng-container>
              <ng-container *ngIf="fname && fname.hasError('pattern')  || fname.hasError('maxlength')">please enter
                valid input</ng-container>
            </span>
          </div>
          <div>
            <span style="color: red;" *ngIf="lname && lname.invalid && lname.touched" id="lnerror">
              <ng-container *ngIf="lname.hasError('required')">this field are req(*)</ng-container>
              <ng-container *ngIf="lname && lname.hasError('maxlength') || lname.hasError('pattern') ">please enter
                valid input</ng-container>
            </span>
          </div>
        </div>


        <div>
          <input type="email" class="email" placeholder="Email" formControlName="email">
        </div>
        <div><span style="color: red;" *ngIf="email && email.invalid && email.touched" id="">
            <ng-container *ngIf="email.hasError('required')">this field are req(*)</ng-container>
            <ng-container *ngIf="email.hasError('pattern')">please enter valid input</ng-container>
          </span></div>


        <div>
          <input type="text" class="number" placeholder="916201763368" formControlName="number" minlength="10"
            maxlength="12">
          <div>
            <span style="color: red;" *ngIf="number && number.invalid && number.touched" id="">
              <ng-container *ngIf="number.hasError('required')">this field are req(*)</ng-container>
              <ng-container *ngIf="number.hasError('pattern') || number.hasError('maxlength')">please enter valid input</ng-container>
            </span>
          </div>
        </div>


        <div class="age">
          <label id="agelabel">Age</label>
          <input type="range" placeholder="Age" id="ageslider" formControlName="age" min="20" max="60">
          <span>{{age.value}}</span>
        </div>


        <div>
          <select formControlName="state" class="state">
            <option hidden value="" disabled selected>State </option>
            <option *ngFor="let item of StateList" [value]="item.name">{{item.name}}</option>
          </select>
        </div>


        <div>
          <select formControlName="city" class="state">
            <option hidden value="" disabled selected>City </option>
            <option *ngFor="let item of CityList" [value]="item.name">{{item.name}}</option>
          </select>
        </div>



        <!-- Address -->
        <div class="address">
          <select formControlName="addressType">
            <option value="Home">Home</option>
            <option value="Company">Company</option>
          </select>

          <div *ngIf="RegistrationForm.get('addressType').value === 'Home'">
            <input type="text" formControlName="address1" placeholder="Address 1" id="address1">
            <input type="text" formControlName="address2" placeholder="Address 2" id="address1">
          </div>

          <div *ngIf="RegistrationForm.get('addressType').value === 'Company'">
            <input type="text" formControlName="companyAddress1" placeholder="Company Address 1" id="address1">
            <input type="text" formControlName="companyAddress2" placeholder="Company Address 2" id="address1">
          </div>
        </div>




        <div>
          <!-- <input type="text" class="interest" placeholder="Enter Interest" formControlName="interest" value="{{ interest }}"> -->
          <angular-tag-input  
          [(ngModel)]="interests"
          
          class="interest" formControlName="interest" placeholder="Enter Interest +" (onSelect)="onSelect($event)"
          ></angular-tag-input>

          <!-- <div> <button type="button" (click)="removeInterest(index)"
              *ngFor="let interest of interests; let index = index" class="tagsOption">{{ interest }} <span
                id="removetag"> X </span></button></div> -->

        </div>




        <div class="tagside">
          <input type="checkbox" class="checkbox" formControlName="checkbox"><span>Subscribe to newsletter</span>
        </div>



        <div class="buttonall">
          <button class="cancle" type="button" routerLink="/home">Cancle</button> <button class="submit"
            type="submit">Submit</button>
        </div>

      </div>

    </div>

  </form>




  <!-- -------------------------------------------------------------------------------------------------------------------------------- -->














  <!-----------------------------------Footer------------------------------------------------------------------------------------------->

</div>
<div class="footer">
  <div class="footerup">
    <p>Subscribe to our Job seeking Mailing List</p>

    <div>
      <input type="text" placeholder="Enter Your Email Address">
      <i class="fa fa-envelope"></i>
    </div>
  </div>